-# code: 'UTF-8'

%head
  %title Hack Time!
  %link{rel: :stylesheet, type: "text/css", href: "/style.css"}
%body
  %ul
    - @characters.each do |c|
      %li
        %a{href: "/character/#{c.id}"} #{c.name}
