-# code: 'UTF-8'

%head
  %title Hack Time!
  %link{rel: :stylesheet, type: "text/css", href: "/style.css"}
  %script{src: '/websocket_wrapper.js'}
  :javascript
    var server = new WebSocketWrapper('ws://' + window.location.host + window.location.pathname)
    server.bind('update_time', function(data){
      if ("time" in data) {
        document.getElementById('time').innerHTML = "Next attack in " + data.time;
      }
      else {
        document.getElementById('time').innerHTML = '';
      }
    });
    server.bind('time_step', function(data){
      if ("#{'attack_' + @character.id.to_s}" in data) {
        document.getElementById('time').innerHTML = "Next attack in " + data.#{'attack_' + @character.id.to_s};
      }
    });
    server.bind('engage', function(data){
      if (data['character'] == #{@character.id}) {
        document.getElementById('engaged').checked = data['engaged']
      }
    })
    function attack(id){
    server.send('attack',
    {
      'mastery_id': id
    });
    }
    function cdg(){
      server.send('cdg',
      {
        'character_id': "#{@character.id}"
      });
    }
    function set_cdg(){
      server.send('set_cdg_speed',
      {
        'character_id': "#{@character.id}",
        'new_speed': document.getElementById('cdg_speed').value
      });
    }
    function set_initiative(initiative){
      var val = initiative.value
      initiative.value = ''
      server.send('set_initiative',
      {
        'character_id': "#{@character.id}",
        'initiative': val
      });
    }
    function set_engaged(){
      server.send('set_engaged',
      {
        'character_id': "#{@character.id}",
        'engaged' : document.getElementById('engaged').checked
      });
    }
%body{style: "margin-top: 0px;"}
  %h1{style: "margin-top: 0px; margin-bottom: 0px;"}
    = @character.name
  %h2{id: 'time', style: "margin-top: 0px; margin-bottom: 0px;"}
    = @character.initiative != nil ? "Next attack in #{@character.initiative}" : ""
  %ul{style: "margin-top: 8px; margin-bottom: 8px;"}
    %li Race: #{@character.race}
    %li Class: #{@character.cl}
    %li
      Belongs to:
      %a{href: "/player/#{@character.player.id}", target: "_top"} #{@character.player.name}
    %li
      %label Starting Initiative:
      %input{id: "initiative", onchange: "set_initiative(this)", style: "text-align: center; width: 25px", name: "initiative", type: "text", autocomplete: "off"}
  %center
    %div{class: 'datagrid', style: 'width: 200px; margin-top: 10px;'}
      %table
        %thead
          %th Weapon
          %th Use
        %tbody
          - @character.masteries.each do |m|
            %tr
              %td{style: "border-bottom: 1px solid #E1EEF4;"}
                %a{href: "/mastery/#{m.id}", target: "_top"} #{m.weapon.name}
              %td{style: "border-bottom: 1px solid #E1EEF4;"}
                %input{onclick: "attack(#{m.id})", style: "margin-top:0px;", type: "submit", value: "Attack"}
          %tr
            %td{style: "border-bottom: 1px solid #E1EEF1;"}
              Coup De Grace
              %input{id: 'cdg_speed',autocomplete: "off", onchange:'set_cdg()', style: "margin-top:0px;width:19px", type: "text", name: "speed", value: "#{@character.cdg_speed}"}
              %td{style: "border-bottom: 1px solid #E1EEF4;"}
                %input{onclick: "cdg()", style: "margin-top:0px;", type: "submit", value: "Attack"}
      %form{action: "/new_mastery/#{@character.name}", target: "_top", method: "get", style: "margin-top:0px;"}
        %input{style: "margin-top: 2px; margin-bottom: 2px", type: "submit", value: "Add new weapon"}
      %div{class: "ck-button", style: "margin-left: 76px;"}
        %label
          %input{id: 'engaged', class: "ck-button-input", type: "checkbox", name: "engaged", onchange:"set_engaged()", :checked => @character.engaged}
            %span Engaged
  %form{action: "/character/#{@character.id}", target: "_top", method: "post"}
    %input{type: "hidden", name: "_method", value: "DELETE"}
    %input{style: "margin:5px", type: "submit", value: "Delete Character"}
