-# code: 'UTF-8'

%head
  %title Hack Time!
  %link{rel: :stylesheet, type: "text/css", href: "/style.css"}
%body
  %center
    %img{src: "/hack_time_logo.png"}
  %form{action: "/query", method: "post", style: "margin-top:10;"}
    %input{style: "margin-top:0px;width: 304px;", placeholder: "Player or Weapon name", name: "name"}
    %br
    %input{style: "padding-right: 20px; padding-left: 20px; margin-right: 10px;", type: "submit", name: "query_type", value: "Player"}
    %input{style: "padding-right: 20px; padding-left: 20px; margin-left: 10px;", type: "submit", name: "query_type", value: "Weapon"}
