-# code: 'UTF-8'

%head
  %title Hack Time!
  %link{rel: :stylesheet, type: "text/css", href: "/style.css"}
%body
  %center
    /%h1 #{@mastery.character.name} Mastery of #{@mastery.weapon.name}
    %form{action: "/mastery/", method: "post", style: "margin-top:0;"}
      %div{class: 'datagrid', style: 'width: 600px; margin-top: 10px;'}
        %table
          %thead
            %tr
              %th Speed Mod
              %th Damage Mod
              %th Attack Mod
              %th Defense mod
              %th Reach Mod
          %tbody
            %tr
              %td
                %input{style: 'margin-top:0px; width: 90%;', placeholder: "Speed Mod", type: "text", name: "speed_mod", value: "#{@mastery.speed_mod}"}
              %td
                %input{style: 'margin-top:0px; width: 90%;', placeholder: "Damage Mod", type: "text", name: "dmg_mod", value: "#{@mastery.dmg_mod}"}
              %td
                %input{style: 'margin-top:0px; width: 90%;', placeholder: "Attack Mod", type: "text", name: "attack_mod", value: "#{@mastery.attack_mod}"}
              %td
                %input{style: 'margin-top:0px; width: 90%;', placeholder: "Defense Mod", type: "text", name: "def_mod", value: "#{@mastery.def_mod}"}
              %td
                %input{style: 'margin-top:0px; width: 70%;', placeholder: "Reach Mod", type: "text", name: "reach_mod", value: "#{@mastery.reach_mod}"}
      %input{type: "hidden", name: "character_id", value: "#{@mastery.character_id}"}
      %input{type: "hidden", name: "weapon_id", value: "#{@mastery.weapon_id}"}
      %input{style: "margin-top:16;", type: "submit", value: "Update Mastery"}
