-# code: 'UTF-8'

%head
  %title Hack Time!
  %link{rel: :stylesheet, type: "text/css", href: "/style.css"}
%body
  %ul
    - @masteries.each do |m|
      %li
        %a{href: "/mastery/#{m.id}"} #{m.id}
