-# code: 'UTF-8'

%head
  %title Hack Time!
  %link{rel: :stylesheet, type: "text/css", href: "/style.css"}
%body
  %form{action: "/new/weapon/", method: "post", style: "margin-top:160;"}
    %ul
      %h1
        New Weapon
      %li
        %input{placeholder: "Weapon Name", type: "text", name: "name"}
        %input{placeholder: "Base Speed", type: 'text', name: "base_speed"}
        %input{placeholder: "Base Damage", type: 'text', name: "base_damage"}
        %input{placeholder: "Base Reach", type: 'text', name: "base_reach"}
    %input{type: "submit"}
