-# code: 'UTF-8'

%head
  %title Hack Time!
  %link{rel: :stylesheet, type: "text/css", href: "/style.css"}
%body
  %form{action: "/mastery/", method: "post", style: "margin-top:160;"}
    %ul
      %h1 New weapon mastery for #{@name}
      %li
        %select{name: "weapon_id"}
          - @weapons.sort_by { |w| w.name.downcase }.each do |w|
            %option{value: "#{w.id}"} #{w.name}
        %input{placeholder: "Speed Mod", type: "text", name: "speed_mod"}
        %input{placeholder: "Attack Mod", type: "text", name: "attack_mod"}
        %input{placeholder: "Damage Mod", type: "text", name: "dmg_mod"}
        %input{placeholder: "Defense Mod", type: "text", name: "def_mod"}
        %input{placeholder: "Reach Mod", type: "text", name: "reach_mod"}
        %input{type: "hidden", name: "character_id", value: "#{@character.id}"}
    %input{type: "submit"}
