-# code: 'UTF-8'

%head
  %title Hack Time!
  %link{rel: :stylesheet, type: "text/css", href: "/style.css"}
%body
  %ul
    - @players.each do |p|
      %li
        %a{href: "/player/#{p.id}"} #{p.name}
