-# code: 'UTF-8'

%head
  %title Hack Time!
  %link{rel: :stylesheet, type: "text/css", href: "/style.css"}
  %script{src: "/masonry.pkgd.min.js"}
  %script{src: '/websocket_wrapper.js'}
  :javascript
    var curr_time = 0;
    var server = new WebSocketWrapper('ws://' + window.location.host + window.location.pathname)
    server.bind('time_step', function(data){
      if (document.getElementById('gm_mode').checked) {
      }
      else {
        curr_time = data.time;
        document.getElementById('time_post').innerHTML = 'Current Time: ' + curr_time;
      }
    });
    server.bind('engage_char', function(data){
      var box = document.getElementById(data.character + '_engaged');
      box.checked = data.engaged;
    });
    server.bind('time_step', function(data){
      var list = document.getElementsByName('attack_stream');
      for (var i = 0; i<list.length; ++i) {
        for (var key in data){
          if (list[i].id === key) {
            list[i].innerHTML = 'Next attack in ' + data[key];
          }
        }
      }
    });
    server.bind('update_time', function(data){
      if (!('time' in data)) {
        var elem = document.getElementById('char_stream');
        while (elem.firstChild) {
          elem.removeChild(elem.firstChild);
        }
      }
    });
    server.bind('update_stream', function(data){
      if (data.act === 'add') {
        if(document.getElementById('status_' + data.id) == null) {
          var parent = document.createElement( 'div' );
          parent.id = 'status_' + data.id;
          parent.setAttribute('name','char_status');
          parent.className = 'status';
          var name = document.createElement( 'p' );
          name.className = 'status-name';
          name.innerHTML = data.char_name;
          parent.appendChild(name);
          var content = document.createElement( 'p' );
          content.className = 'status-content';
          content.setAttribute('name','attack_stream');
          content.id = 'attack_' + data.id;
          content.innerHTML = 'Next attack in ' + data.initiative;
          parent.appendChild(content);
          var ck_button_div = document.createElement( 'div' );
          ck_button_div.className = 'ck-button status-engage';
          var label = document.createElement( 'label' );
          ck_button_div.appendChild(label);
          var ck_button = document.createElement( 'input' );
          ck_button.id = data.id + '_engaged';
          ck_button.className = 'ck-button-input';
          ck_button.type = 'checkbox';
          ck_button.setAttribute('name','engaged');
          ck_button.onchange = function(){ return engage(data.id);};
          ck_button.checked = data.engaged;
          var engaged_span = document.createElement( 'span' );
          engaged_span.innerHTML = 'Engaged';
          label.appendChild(ck_button);
          label.appendChild(engaged_span);
          ck_button_div.appendChild(label);
          parent.appendChild(ck_button_div);
          document.getElementById('char_stream').appendChild(parent);
          resizeIframe(document.getElementById("iframe_" + data.id));
        }
        else {
          var elem = document.getElementById('attack_' + data.id)
          elem.innerHTML = 'Next attack in ' + data.initiative;
        }
      }
      else if (data.act === 'remove') {
        var parent = document.getElementById('status_' + data.id);
        parent.parentNode.removeChild(parent);
      }
    })
    function gm_update_time(new_time){
      curr_time = new_time;
      server.send('time_step',
      {
        'time': new_time
      })
    }
    function engage(id){
      server.send('engage',{
      'character': id,
      'engaged': document.getElementById(id+'_engaged').checked
      })
    }
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight * 1.05 + 'px';
    }
    function addChar(id) {
      var fragment = document.createDocumentFragment();
      var elem = getItemElement( id );
      var elemIframe = getIframeElement( id );
      elem.appendChild( elemIframe );
      fragment.appendChild( elem );
      grid.appendChild( fragment );
      msnry.appended( [elem] );
    }
    function removeChar(id) {
      var elem = document.getElementById('char_' + id);
      msnry.remove( elem );
    }
    function getItemElement(id) {
     var elem = document.createElement('div');
     elem.className = 'grid-item';
     elem.id = 'char_' + id;
     return elem;
    }
    function getIframeElement(id) {
    var elem = document.createElement('iframe');
    elem.id = "iframe_" + id;
    elem.src = "/character/" + id;
    elem.onload = function() { return resizeIframe(elem);};
    elem.style = "border: none";
    return elem;
    }
    function toggleChar (id) {
      var elem = document.getElementById(id);
      elem.checked ? addChar(id) : removeChar(id);
      msnry.layout()
    }
    function delete_chars() {
      var form = document.getElementById('char_view');
      form.action = "/player/#{@player.id}/characters/";
      var hidden = document.createElement('input');
      hidden.type = 'hidden';
      hidden.name = '_method';
      hidden.value = 'DELETE';
      form.appendChild( hidden );
      form.submit();
    }
    function dup_chars() {
      var form = document.getElementById('char_view');
      form.action = '/player/#{@player.id}/character_dup/';
      var num_copies = document.getElementById('num_copies');
      var hidden_num = document.createElement('input');
      hidden_num.type = 'hidden'
      hidden_num.name = 'num_copies'
      hidden_num.value = num_copies.value
      form.appendChild( hidden_num );
      form.submit();
    }
    function gm_mode() {
      var gm = document.getElementById("gm_mode");
      var time = document.getElementById("time_post");
      if (gm.checked) {
        var time_input = document.createElement('input');
        time_input.type = 'number';
        time_input.style = "margin-top: 0px;font-weight: bold; font-size: large; width: 3em;display:inline";
        time_input.id = 'gm_time_input';
        time_input.onchange = function(){ return gm_update_time(time_input.value);};
        time.innerHTML = 'Current Time: ';
        time.appendChild(time_input);

        var br = document.createElement('br');
        br.id = 'encounter_break'
        var end_encounter = document.createElement('input');
        end_encounter.type = 'submit';
        end_encounter.id = 'end_encounter'
        end_encounter.onclick = function() {
          var time_input = document.getElementById('gm_time_input');
          time_input.value = ''
          server.send('end_encounter',{})

        };
        end_encounter.value = 'End Encounter';
        time.parentNode.insertBefore(br, time.nextSibling);
        time.parentNode.insertBefore(end_encounter, time.nextSibling);
      }
      else {
        time.innerHTML = 'Current Time: ' + curr_time;
        var time_input = document.getElementById('gm_time_input');
        var br = document.getElementById('encounter_break');
        var end_encounter = document.getElementById('end_encounter');
        end_encounter.parentNode.removeChild( end_encounter );
        br.parentNode.removeChild( br );
        time_input.parentNode.removeChild( time_input );
      }
    }
%body{style: "margin: 0px; padding: 10px; background-color: #eee;"}
  %div{id: "player_div", class: "split split-horizontal content", style: "padding-top: 75px; background-color: #fff;width:100%;"}
    %h1
      = @player.name
    %h2{style:"margin-top:10; margin-bottom:5px;"} Characters
    %form{method: "post", style: "margin-top:0;", id: "char_view"}
      - @player.characters.each do |c|
        %div{class: "floating-item"}
          %div{class: "ck-button"}
            %label
              %input{id: "#{c.id}",class: "ck-button-input", name: "#{c.id}", type: "checkbox", onchange: "toggleChar(#{c.id})"}
                %span #{c.name}
      %br
    %input{onclick: "dup_chars();", style: "margin-top:5px", type: "submit", value: "Copy Selected Characters"}
    Make
    %input{id: "num_copies", type: "text", value: "1", style: 'width:20px;', autocomplete: "off"}
    %br
    %input{onclick: "delete_chars();", style: "margin-top:5px;", type: "submit", value: "Delete Selected Characters"}
    %form{action: "/player/#{@player.id}/character", method: "get", style: "margin-top:0;"}
      %input{style: "margin-top:16px", type: "submit", value: "Add new character"}
    %form{action: "/player/#{@player.id}", method: "post"}
      %input{type: "hidden", name: "_method", value: "DELETE"}
      %input{style: "margin-top:5px; margin-bottom: 25px;", type: "submit", value: "Delete Player"}
    %div{class: "grid"}
    :javascript
      var grid = document.querySelector('.grid');
      var msnry = new Masonry( grid, {
        itemSelector: '.grid-item',
        columnWidth: 302,
        isFitWidth: true,
        gutter: 5
      });
      initChars();
  %div{id: "stream", class: "split split-horizontal content", style: "background-color: #fff;"}
    %div{id: "time_div", class: "time"}
      %p{id: "time_post", class: "time-post"}
        Current Time: #{@time}
      %input{id: 'gm_mode', type: "checkbox", onchange: "gm_mode()"} GM?
    %div{id: "char_stream"}
      - Character.all.each do |c|
        - if c.initiative != nil
          %div{id:"status_#{c.id.to_s}", name: "char_status", class: "status"}
            %p{class: "status-name"} #{c.name}
            %p{class: "status-content", name: "attack_stream", id: "attack_#{c.id}"}
              Next Attack in #{c.initiative}
            %div{class: "ck-button status-engage"}
              %label
                %input{id: "#{c.id}_engaged", class: "ck-button-input", type: "checkbox", name: "engaged", onchange:"engage(#{c.id})", :checked => c.engaged}
                  %span Engaged
%script{src: "/split.min.js"}
%script{src: "/Sortable.min.js"}
:javascript
  Split(['#player_div', '#stream'], {
    sizes: [85,15],
    minSize: [200,150],
    gutterSize: 8,
    snapOffset: 1,
    cursor: 'col-resize'
  });
  var sort_parent = document.getElementById('char_stream')
  Sortable.create(sort_parent, {
    animation: 50,
  })
