-# code: 'UTF-8'

%head
  %title Hack Time!
  %link{rel: :stylesheet, type: "text/css", href: "/style.css"}
%body
  %form{action: "/player/#{@player.id}/character", method: "post", style: "margin-top:160;"}
    %ul
      %h1
        New Character
      %li
        %input{placeholder: "Character Name", type: "text", name: "name"}
        %input{placeholder: "Race", type: 'text', name: "race"}
        %input{placeholder: "Class", type: "text", name: "cl"}
    %input{type: "submit"}
