-# code: 'UTF-8'

%head
  %title Hack Time!
  %link{rel: :stylesheet, type: "text/css", href: "/style.css"}
%body
  %ul
    - @weapons.each do |w|
      %li
        %a{href: "/weapon/#{w.id}"} #{w.name}
  %a{href: "/new/weapon"} Add A New Weapon
