-# code: 'UTF-8'

%head
  %title Hack Time!
  %link{rel: :stylesheet, type: "text/css", href: "/style.css"}
%body
  %center
    %h1 #{@weapon.name}
    %form{action: "/weapon/", method: "post", style: "margin-top:0px;"}
      %div{class: 'datagrid', style: 'width: 400px; margin-top: 10px;text-align:;'}
        %table
          %thead
            %tr
              %th Base Speed
              %th Base Damage
              %th Base Reach
          %tbody
            %tr
              %td
                - speed = @weapon.base_speed == 0 ? nil : @weapon.base_speed
                %input{style: 'margin-top:0px; width: 70%;', placeholder: "Base Speed", type: "text", name: "base_speed", value: "#{@weapon.base_speed}"}
              %td
                %input{style: 'margin-top:0px; width: 70%;', placeholder: "Base Damage", type: "text", name: "base_damage", value: "#{@weapon.base_damage}"}
              %td
                %input{style: 'margin-top:0px; width: 70%;', placeholder: "Base Reach", type: "text", name: "base_reach", value: "#{@weapon.base_reach}"}
      %input{type: "hidden", name: "name", value: "#{@weapon.name}"}
      %input{style: "margin-top:16;", type: "submit", value: "Save weapon"}
    %form{action: "/weapon/#{@weapon.id}", method: "post", style: "margin-top: 5px;"}
      %input{type: "hidden", name: "_method", value: "DELETE"}
      %input{style: "margin-top:0px;", type: "submit", value: "Delete weapon"}
