-# code: 'UTF-8'

%head
  %title Hack Time!
  %link{rel: :stylesheet, type: "text/css", href: "/style.css"}
%body
  %h1 Simple Echo & Chat Server
  %form{id: "form"}
    %input{type: "text", id: "input", value: "send a message"}
  %div{id: "msgs"}

  :javascript
    window.onload = function(){
      (function(){
        var show = function(el){
          return function(msg){ el.innerHTML = msg; }
        }(document.getElementById('msgs'));

        var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen    = function()  { show('websocket opened'); };
        ws.onclose   = function()  { show('websocket closed'); }
        ws.onmessage = function(m) { show('websocket message: ' +  m.data); };

        var sender = function(f){
          var input     = document.getElementById('input');
          input.onclick = function(){ input.value = "" };
          f.onsubmit    = function(){
            ws.send(input.value);
            input.value = "send a message";
            return false;
          }
        }(document.getElementById('form'));
      })();
    }
