body{
  text-align: center;
  margin-top: 75px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

form{
  margin-bottom: 0px;
}

form li{
  font-stretch:normal;
  list-style-type: none;
}

ul{
  padding-left: 0px;
}

input{
  margin-top: 10px;
}

.datagrid table {
  border-collapse: collapse;
  text-align: left; width: 100%;
}

.datagrid {
  font: normal 12px/150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  border: 1px solid #8C8C8C;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.datagrid table td, .datagrid table th {
  padding: 3px 10px;
  text-align: center;
}

.datagrid table thead th {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
  background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
  background-color:#8C8C8C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3;
  text-align: center;
}

.datagrid table thead th:first-child { border: none; }

.datagrid table tbody td {color: #000000; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; border-bottom: 1px solid #E1EEF4;}

.datagrid table tbody .alt td { background: #EBEBEB; color: #000000; }

.datagrid table tbody td:first-child { border-left: none; }

.datagrid table tbody tr:last-child td { border-bottom: none; }

.ck-button {
    margin:4px 2px;
    background-color:#EFEFEF;
    border-radius:1px solid #535353;
    border:1px solid #D0D0D0;
    text-align: center;
    display: inline-block;
    float: left;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.ck-button-input {
  display: none;
}

.ck-button:hover {
    background:#CBCBCB;
}

.ck-button label {
    float:left;
    min-width: 3.0em;
    width:auto;
}

.ck-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
    padding-left: 5px;
    padding-right: 5px;
}

.ck-button label input {
    position:absolute;
    top:-20px;
}

.ck-button input:checked + span {
    background-color:#535353;
    color:#fff;
    border-color: #535353;
}

.floating-item {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 10px;
    vertical-align: top;
}

.grid {
  margin: 0 auto
}

.grid-item{
  width: auto;
  height: auto;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 0 3px 2px #a4a4a4;
  margin-bottom: 5px;
}

.gutter {
  background-color: transparent;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('/grips/vertical.png');
}

.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('/grips/horizontal.png');
}

.content{
  border: 1px solid #c0c0c0;
  box-shadow: inset 0 1px 2px #e4e4e4;
  background-color: #fff;
}

.split {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.gutter.gutter-horizontal {
  height: 100%;
  float: left;

}

.container {
  width: 80%
  border: 1px solid #ddd;
  border-radius: 4px;
}

.time {
  position: relative;
  bottom: 0;
  border-bottom: 2px solid #aaa
}

.time-post, .status-name{
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
  font-size: large;
}

.status {
  height: auto;
  border-bottom: 2px solid #ddd;
  overflow: auto;
}

.status-content{
  margin-top: 0px;
  margin-bottom: 0px;
}

.status-engage{
  float: none;
}
